*{
	margin:0;
	padding:0;
}
.clearfix::after{
	content:"";
	clear:both;
	display:block;
}

header{
	width:100%;
	background-color:#ffee6b;
}

nav{
	width:100%;
	height:70px;
	/*margin:0 auto;*/
	text-align: center;
}

.fa-bars{
	display:none;
}

.top-menu{
	/*width:80%;*/
	margin-left:600px;
}

.top-menu-item{
	float:left;
	padding: 0 30px; 
	list-style: none;
	font-size: 20px;
	line-height: 70px;
}

.top-menu-item a{
	text-decoration: none;
	color:#050301;
}

/*img{ 
	width:100%;
	height:500px;

}*/

/*.page1{
	width: 100%;
	height: 500px;
	background-image: url("../img/topimage.jpg");
	background-size: 100% 100%;
}*/

#page1-container{
	height: 500px;
}

.page2{
	width: 100%;
}

.page2-text1{
	text-align: center;
	padding-top: 60px;
}

.page2-border{
	width: 60px;
	border: 2px solid #00a0e9;
	margin: 0 auto;
}

.page2-container{
	width: 960px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.page2-content-box{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	float: left;
}

.page2-image-box img{
	width:300px;
	height:300px;
	border-radius: 50%;
}
.page2-content-box h2{
	padding-top: 20px;

}

.page2-content-box p{
	padding-top: 20px;
}

.page3{
	width: 100%;
	margin: 0 auto;
	background-color: #ffee6b;
}

.page3-text1{
	text-align: center;
	padding-top: 60px;
}

.page3-border{
	width: 60px;
	border: 2px solid #00a0e9;
	margin: 0 auto;
}

.page3-text2{
	margin-top: 30px;
	text-align: center;
/*	margin-bottom: 30px;*/
}

.page3-container{
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.page3-container img{
	width: 300px;
	height: 300px;
}

.page3-image-box1, .page3-image-box2, .page3-image-box3{
	float: left;
	text-align: center;
	margin: 10px;
	width: 300px;
	height: 300px;
}

.page3-image-box1{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.page3-overlay-box1{
	display: none;
	width: 300px;
	height: 300px;
	background-color:rgba(0,0,0,0.4);
	color: white;
	text-align:center;
	line-height: 300px;
	/* 親要素の左上にかさねる */
	position: absolute;
	top: 0;
	left: 0;
}

.page3-image-box1 a{
	color: white;
	text-decoration: none;
}

.page3-image-box2 a{
	color: white;
	text-decoration: none;
}

.page3-image-box3 a{
	color: white;
	text-decoration: none;
}

.page3-image-box2{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.page3-overlay-box2{
	display: none;
	width: 300px;
	height: 300px;
	background-color:rgba(0,0,0,0.4);
	color: white;
	text-align:center;
	line-height: 300px;
	/* 親要素の左上にかさねる */
	position: absolute;
	top: 0;
	left: 0;
}

.page3-image-box3{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.page3-overlay-box3{
	display: none;
	width: 300px;
	height: 300px;
	background-color:rgba(0,0,0,0.4);
	color: white;
	text-align:center;
	line-height: 300px;
	/* 親要素の左上にかさねる */
	position: absolute;
	top: 0;
	left: 0;
}



/*.page3-image-box2;{
	margin: 0 20px;
}*/

.page4{
	width: 100%;
	margin: 0 auto;
}
.page4-text1{
	text-align: center;
	padding-top: 60px;
}
.page4-border{
	width: 60px;
	border: 2px solid #00a0e9;
	margin: 0 auto;
}

.page4-text2{
	margin-top: 30px;
	text-align: center;
}

.page4-container{
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
}

.page4-container img{
	width: 300px;
	height: 300px;
	/*float: left;*/
}

.page4-container h3{
	width: 300px;
	text-align: center;
	margin: 0;
}

.box{
	width: 300px;
	height: 450px;
	float: left;
	margin:10px;
}

.page4-button{
	width: 50px;
	height: 30px;
	margin-top: 20px;
	background-color: #ffee6b;
	float: right;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}

.page4-images{
	width: 960px;
	margin: 0 auto;
}

.page4-box1, .page4-box2, .page4-box3{
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
	margin: 10px;
	line-height: 300px
}

.page4-button2{
	width: 150px;
	height: 100px;
	background-color: #00a0e9;
	border-radius: 50%;
/*	display: inline-block;*/
	text-align: center;
	line-height: 100px;
	margin: 0 auto;
}

.page4-button2 a {
	color: black;
	text-decoration: none;
	}

.backpacker{
	width: 200px;
	height: 200px;
}

.dogsilhouette{
	width:100px;
	height: 100px;
}

/*.page4-button2, .page4-images img{
	margin-left: 100px;
}*/

.page5{
	width: 100%;
	margin: 0 auto;
	background-color: #ffee6b;
}

.page5-text1{
	text-align: center;
	padding-top: 60px;
}
.page5-border{
	width: 60px;
	border: 2px solid #00a0e9;
	margin: 0 auto;
}

.page5-text2{
	margin-top: 30px;
	text-align: center;
}

.page5-container{
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.page5-box1, .page5-box2{
	width: 50%;
	float: left;
}

.page5-box1 p{
	padding-top: 20px;
}

/*.page5-box1 h2, p{
	padding-top: 20px;
}*/

.fa-facebook-square, .fa-twitter, .fa-instagram{
	padding-top: 30px;
}

a i{
	color: black;
}
/*form{
	margin: 0 auto;
	width: 400px;
	padding: 2em;*/
/*	border: 1px solid #CCC;
	border-radius: 1em;
}

form div+div{
	margin-top: 1em;
}

label{
	display: inline-block;
	width: 90px;
	text-align: center;
}

input, textarea{
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}

input:focus, textarea:focus{
	border-color:#000;
}

textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

.button{
	padding-left: 200px;
	margin-left: .5em;
}*/

.footer{
	width:100%;
	height:60px;
/*	background-color: #EC715F;
	color:#FAFAFA;*/
	text-align: center;
	line-height: 60px;
	float:left;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #808F89;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}

@media (max-width: 1024px){
	.top-menu{
		margin-left: 350px;
	}

}


@media (max-width: 768px){

	.top-menu-item {
		display:none;
		width:100%;
		height: 70px;
		border-top: solid #050301 1px;
		padding: 0;
	}

	.top-menu{
		margin-left:0;
	}
	.fa-bars{
		display: inline;
		float: right;
		color: #050301;
		padding-top: 10px;
		margin-right: 20px;

	}

	.page2-container{
		width: 100%;
	}

	.page2-content-box{
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.page3-container{
		width: 100%;
	}

	.page3-image-box1, .page3-image-box2, .page3-image-box3{
		float: none;
		display: block;
		margin: 0 auto;
		padding-bottom: 30px;
	}

	/*.page3-overlay-box1, .page3-overlay-box2, .page3-overlay-box3{
		margin: 0;
	}*/

	.page4-container{
		width: 100%;
	}

	.box{
		float: none;
		margin: 0 auto;
	}

	.page4-images{
		width: 100%;
	}

	.page4-box2{
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: 20px;
	}

	/*.page4-button2{
		margin: 0 auto;
	}*/

	/*.page4-images{
		width: 100%;
	}*/

	.page4-box1, .page4-box2, .page4-box3{
		float: none;
	}

	.page4-box1, .page4-box3{
		display: none;
	}

	.page5-box1, .page5-box2{
		float: none;
		width: 100%;
	}

	.page5-container{
		width: 100%;
	}

	.page5-box2{
		padding-top: 20px;
	}

	#page-top a{
		width: 80px;
	}

	/*.page5-box2 i{
		color: black;
	}*/


}




